.artist-card {
  max-width: 310px;
}

@media screen and (max-width: 1400px) {
  .artist-card {
    max-width: 360px;
  }
}

@media screen and (max-width: 1200px) {
  .artist-card {
    max-width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .artist-card {
    max-width: 340px;
  }
}

@media screen and (max-width: 991px) {
  .artist-card {
    max-width: 340px;
  }
}

.artist-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.artist-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.artist-card .card-title {
  text-align: center;
}

.artist-card .card-text {
  color: var(--bs-primary);
}

.artist-card .artist-social-btns a {
  margin: 4px;
  background-color: rgba(var(--bs-secondary-rgb), 0.8);
  color: var(--bs-light);
  padding: 4px;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.artist-card .artist-social-btns a:hover {
  background-color: var(--bs-primary);
  color: var(--bs-light);
}
