.palinsesto-mobile {
  padding-bottom: 5rem !important;

  .giorno-settimana {
    margin-top: 2.3rem;
    font-weight: 600;
  }

  .settimana {
    .programma {
      border-left: 5px solid var(--bs-primary);
      margin-block: 18px;
      margin-left: 24px;
      padding: 10px 20px;
      list-style: none;

      .titolo {
        text-transform: uppercase;
        font-weight: 600;
      }

      .artista {
        font-size: 0.8rem;
      }

      .orario {
        font-size: 0.6rem;
      }
    }
  }
}
