$body-bg: #ffffff;
$body-color: #252525;
$theme-colors: (
  "primary": #0542d5,
  "secondary": #ffdb39,
  "success": #30da7f,
  "danger": #ff3e3e,
  "warning": #ffdb2a,
  "info": #696969,
  "light": #f2f2f2,
  "dark": #2c2c2c,
);
$font-family-base: "Montserrat", sans-serif;
