:root {
  --bs-primary: #005ae1;
  --bs-primary-rgb: 000, 90, 225;
  --bs-secondary: #313131;
  --bs-secondary-rgb: 49, 49, 49;
}

* {
  font-family: "Montserrat";
}

.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50dvh;
  font-size: 24px;
  font-weight: 600;
  color: var(--bs-primary);
}

.not-found-page span:first-child {
  font-size: 28px;
  font-weight: 600;
}

.not-found-page span:last-child {
  font-size: 20px;
  font-weight: 400;
}
