:root {
  --bs-primary: #005ae1;
  --bs-primary-rgb: 000, 90, 225;
  --bs-secondary: #313131;
  --bs-secondary-rgb: 49, 49, 49;
}

* {
  font-family: "Montserrat";
}

.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50dvh;
  font-size: 24px;
  font-weight: 600;
  color: var(--bs-primary);
}

.not-found-page span:first-child {
  font-size: 28px;
  font-weight: 600;
}

.not-found-page span:last-child {
  font-size: 20px;
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.go-top-btn {
  position: fixed;
  bottom: -50px;
  right: -50px;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 5px;
  color: var(--bs-light);
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 12;
  background-color: var(--bs-secondary);
  scale: 1.5;
}

.go-top-btn i::before {
  rotate: 180deg !important;
}
