/* Contenitore principale */
.dynamic-background {
  position: relative;
  display: flex;
  z-index: 0;
}

/* Contenuto sopra lo sfondo */
.content {
  z-index: 2;
  color: var(--bs-light);
}

/* Sfondo animato */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 9s infinite;
  filter: brightness(0.3);
  z-index: 1; /* Dietro al contenuto */
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-primary); /* Usa il colore dalla variabile */
  opacity: 0.6; /* Opacità del filtro colorato */
  mix-blend-mode: overlay; /* Effetto di fusione */
  -webkit-backdrop-filter: blur(26px); /* Sfocatura dello sfondo */
  backdrop-filter: blur(26px); /* Sfocatura dello sfondo */

  z-index: 1;
}

.bg1 {
  background-image: url("/imgs/pexels-pixabay-164746.jpg");
  animation-delay: 0s;
}

.bg2 {
  background-image: url("/imgs/pexels-pixabay-270288.jpg");
  animation-delay: 3s;
}

.bg3 {
  background-image: url("/imgs/pexels-pixabay-302871.jpg");
  animation-delay: 6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
