.show-edit-img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.change-show-img {
  background-color: white;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  opacity: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  font-size: 1.7rem;
  font-weight: 600;

  &:hover {
    opacity: 0.8;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

#imageUpload {
  display: none;
}

.appointment-form {
  background-color: var(--bs-light);
  padding: 1.5rem;
  border-radius: 16px;

  table {
    background-color: white;
    border-radius: 8px;

    th {
      background-color: var(--bs-primary);
      color: white;

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
      }
    }
  }
}
